:root {
  --bg: #0c0c18;
  --text: #4024a6;
  --muted: #cfcfd6;
  --neon: #5cff2e;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-image: url(../assets/images/background.jpeg);
    background-size: cover;
    
  /* background: radial-gradient(circle at top, #1b1b3a 0%, #0c0c18 60%); */
  color: var(--text);
}

.container {
  max-width: 420px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

/* HERO */

.logo {
  width: 180px;
  margin-bottom: 30px;
  filter: drop-shadow(0 0 20px rgba(92,255,46,0.4));
}

h1 {
  font-size: 28px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 10px;
}

h1 span {
  display: block;
  font-size: 34px;
}

.sub {
  color: var(--muted);
  margin-bottom: 30px;
}

.cta {
  display: inline-block;
  background: linear-gradient(90deg, #7aff44, #39d90d);
  color: #000;
  font-weight: 700;
  padding: 14px 30px;
  border-radius: 40px;
  text-decoration: none;
  box-shadow: 0 0 25px rgba(92,255,46,0.5);
  transition: 0.2s;
}

.cta:hover {
  transform: scale(1.05);
}

/* BENEFITS */

.benefits {
  margin-top: 40px;
  text-align: center;
}

.benefit {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.icon {
  font-size: 20px;
  margin-right: 10px;
  color: var(--neon);
  align-items: center;
}

.benefit p {
  margin: 0 auto;
}

/* SOCIAL */

.social-proof {
  margin-top: 50px;
}

.social-proof h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.avatars {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #444;
  margin: 0 -5px;
  border: 2px solid #0c0c18;
}

.small {
  font-size: 13px;
  color: var(--muted);
}

.stars {
  margin: 20px 0;
  color: var(--neon);
  font-size: 22px;
  letter-spacing: 3px;
}

blockquote {
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0;
}

.author {
  font-size: 14px;
  color: var(--muted);
}

/* CONTACT */

.contact {
  background: #111;
  padding: 50px 20px;
}

.contact h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #1c1c2f;
  color: white;
}

button {
  padding: 14px;
  border-radius: 30px;
  border: none;
  background: var(--neon);
  font-weight: 700;
  cursor: pointer;
}